# Ignore everything, but descend into most directories
*
!*/
jsdist/
node_modules/

# Do not ignore these file extensions
!*.php
!*.vue
!*.js
!*.jsx
!*.md
!*.css

# Furthermore do not ignore those specific files
!.gitignore
!package.json
!package-lock.json
!webpack.config.js
!.babelrc
!build.sh
!LICENSE
!Vagrantfile
!install-vagrant.sh
